.#*
*~
*.dia.autosave

/BDD/erl_crash.dump
/BDD/*.beam
/BDD/default.config
/BDD/dev.config
/BDD/.*.erl.swp

/core/rails/coverage/

/doc/README.md.new

/rails/tmp/
/rails/log/
/rails/coverage
/rails/db/schema.rb
/rails/Gemfile.lock
/rails/.bundle/
/rails/bin/
/rails/vendor/
/rails/public/assets/

