- if obj.attribs.count == 0
  =t 'no_items'
- else
  - obj_type = obj.class.to_s.underscore + "_id"
  - editable = (obj.is_a? NodeRole and obj.proposed?) or obj.is_a? DeploymentRole
  %table.data.box
    %thead
      %tr
        %th= t '.attrib'
        %th= t '.value'
        %th
    %tbdoy
      - obj.attribs.each do |attrib|
        = render :partial => 'attribs/raw', :locals => {:obj=>obj, :obj_type => obj_type, :attrib=>attrib, :editable=>editable }
